*{
    padding: 0;
    margin: 0;
}

html{ 
    scroll-behavior: smooth;
    user-select: none;
}

.hover-effect{ 
    transform:scale(1);
    transition: .5s;
    cursor:pointer
}

.hover-effect:hover{
    transform: scale(1.1);
}


.container{ 
    position:relative;
    height:auto;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    overflow-x:hidden
}

.container::-webkit-scrollbar{
    display: none;
}

nav{ 
    height:100px;
    width:100vw;
    overflow:hidden;
    background:rgb(226, 226, 226);
    position:fixed;
    top:0;
    z-index:9999; 
    display:flex;
}

nav .time{
    position: relative;
    height:100%;
    width:15%;
    display: grid;
    place-content: center;
    color:grey;
    font-size:1rem;
    font-weight:bold
}

nav .body_section{ 
    position:relative;
    height:100%;
    width:40%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size:2rem;
    font-weight:bold;
    color:grey
}

nav .body_section .body::before{ 
    content: "Body: "
}

nav .body_section .pokusy::before{ 
    content: "Pokusy: ";
}   

nav .hint{
    width:20%;
    height:100%;
    display:grid;
    place-content: center;
}

@keyframes hint {
    0%{
        transform:scale(0)
    }
    100%{
        transform:scale(1)
    }
}

nav .hint .content{ 
    color:white;
    display: flex;
    background:blue;
    padding:10px 20px;
    border-radius:20px;
    animation: hint .2s linear 1
}

nav .hint .content:hover{ 
    color:rgb(255, 196, 0)
}

nav .hint .content > h1{ 
    margin-right:10px;
}

nav .home{
    height:100%;
    width: 30%;
    display: grid;
    place-content: center;
}

nav .home > i{
    transform:scale(2);
    cursor: pointer;
    transition: .5s;
}

nav .home > i:hover{ 
    transform:scale(2.5)
}

.game_section{ 
    position:relative;
    height:auto;
    width:100%;
    margin-top:100px;
    display:flex;
    flex-wrap:wrap
}

.karta{
    height:250px;
    width:250px;
    background-position: center;
    background-size:cover;
    border-radius:30px;
    box-shadow: 0 0 10px black;
    margin:20px;
}

.solved{ 
    height:250px;
    width:250px;
    margin:20px;
}

@keyframes right_card {
    0%{
        transform: scale(1);
    }50%{
        transform: scale(1.2);
    }100%{
        transform: scale(1);
    }
}

.spravna{ 
    animation:right_card 1s linear infinite
}

@keyframes scale {
    0%{
        opacity:0
    }100%{
        opacity:1
    }
}

.end-container {
    position:relative;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y:scroll;
}

.end-container::-webkit-scrollbar{ 
    appearance:none;
    width:5px;
}

.end-container::-webkit-scrollbar-thumb{
    background:grey;
    border-radius:20px;
    cursor: pointer;
}

.end-heading{ 
    position: relative;
    height:10vh;
    width:100%;
    background:rgb(218, 217, 217);
    display:flex;
    align-items: center;
    justify-content: space-around;
    color:grey
}

.end-container h1{ 
    font-size: 2rem;
}

.end-heading i{ 
    transform:scale(2)
}

.summary{ 
    position: relative;
    height:80%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white
}

.summary section ul{ 
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    background-color: blue;
    border-radius:30px;
    width:80vw;
    padding:5px;
    margin:10px 0px;
    transition: 0.5s;
}

.summary section ul:hover{ 
    background-color: red;
    cursor: pointer;
}


.summary ul li::before{
    font-weight:bold;
    font-size:1.5rem
}

.summary ul li:nth-child(1)::before{
    content:"Čas: "
}

.summary ul li:nth-child(2)::before{
    content:"Pokusy: "
}

.summary ul li:nth-child(3)::before{
    content:"Body: "
}

.summary ul li:nth-child(4)::before{
    content:"Počet karet: "
}

.summary ul li:nth-child(5)::before{
    content:"Úspěšnost: "
}

.summary ul li:nth-child(5)::after{
    content:" %"
}
